.hexagon {
    position: relative;
    color: white;
    width: 20%;
}

.hexagon h1 {
    font-size: 2rem;
    font-weight: 900;
    color: white;
    text-align: center;
}

.hexagon svg
{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.hexagon .image {
    height: 125px;
}

.hexagon p {
    margin: 25px;
    text-align: center;
}
