.skill {
    color: var(--offwhite-1);
    position: relative;
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    z-index: 2;
    font-weight: 600;
}

.skill .label {
    background: var(--accentBlue);
    padding: 10px;
    width: 25%;
}

.skill .fill {
    background: var(--accentBlue_30);
    position: absolute;
    left: 20%;
    top: 0;
    bottom: 0;
}

.skill .background {
    color: var(--mainOffBackground);
    background: var(--offwhite);
    position: absolute;
    right: 0;
    left: 0;
    text-align: end;
    padding: 10px;
    z-index: -1;
}