.contact {
    height: 100vh;
    z-index: -2; /* Ensure the canvas is behind other elements */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #111423;
}


form {
    background: #e8ebf7;
    width: 60%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 750px;
}

form h1 {
    text-align: center;
    color: #0f1323;
    font-size: 4rem;
}
form h2 {
    text-align: center;
    color: #00bbff;
    font-size: 2rem;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.form-group label {
    color: #0f1323;
}

.input {
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #303030;
    border-bottom: 2px solid #9a9a9a;
    background-color: transparent;
    color: #0f1323;
    font-weight: bold;
    transition: all 0.1s ease;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px 20px;
    box-sizing: border-box;
}
.input::placeholder {
    color: #9a9a9a;
}


.input:active,
.input:focus {
    background-color: #ffffff;
    border: 1px solid #2d2d2d;
    border-bottom: 4px solid #00bbff;
}

.input-message{
    position: relative;
    height: 200px;
    resize: none;
}

.char-left {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 20%;
}


.form-group button {
    position: relative;
    background: transparent;
    color: #0f1323;
    font-size: 2rem;
    padding: 10px 50px;
    border: 2px solid #0f1323;
    border-radius: 15px;
    transition: all ease-in-out .4s;
}

.form-group button:hover {
    background: #00bbff;
    color: white;
    border-radius: 25px;
    scale: 102%;
}