body {
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 50%;
    z-index: -2; /* Ensure the canvas is behind other elements */
}


.mask {
    -webkit-mask-image: radial-gradient(circle at center center, #000000, transparent 75%);

    mask-image: radial-gradient(circle at center center, #000000,transparent 75%);
}

