.name h1 {
    position: relative;
    width: 100%;
    font-size: 4rem;
    text-align: center;
    color: rgb(255, 255, 255);
    z-index: 6;
}

.name {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    z-index: 6
}

.name::before {
    position: absolute;
    content: "";
    right: 50%;
    bottom: 50%;
    width: 60%;
    height: 300px;
    transform: translate(50%, 50%);
    background: transparent;
    /*backdrop-filter: blur(5px);*/
    border-radius: 20%;
    z-index: 5;
}


.hoverText {
    font-size: 4rem;
    text-align: center;
    font-weight: 100;
    color: #408CC7;

    /*transition: font-weight ease-in-out .1s;*/
    cursor: pointer;
}

.hoverText:hover{
    font-weight: 900;
    color: rgb(191, 83, 253);

}

.hoverText:hover + .hoverText {
    font-weight: 500;
    color: rgb(156, 51, 255);
}

.hoverText:hover + .hoverText + .hoverText{
    font-weight: 300;
    color: rgb(91, 28, 199);
}

.hoverText:has(+ .hoverText:hover) {
    font-weight: 500;
    color: rgb(156, 51, 255);
}
.hoverText:has(+ .hoverText +.hoverText:hover) {
    font-weight: 300;
    color: rgb(91, 28, 199);
}