.name h1 {
    position: relative;
    width: 100%;
    font-size: 4rem;
    text-align: center;
    z-index: 6;
}

.name {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    z-index: 6
}

.name::before {
    position: absolute;
    content: "";
    right: 50%;
    bottom: 50%;
    width: 60%;
    height: 300px;
    transform: translate(50%, 50%);
    background: transparent;
    border-radius: 20%;
    z-index: 5;
}


.hoverText {
    font-size: 4rem;
    text-align: center;
    font-weight: 100;
    color: var(--accentBlue);
    cursor: pointer;
}

.hoverText:hover{
    font-weight: 900;
    color: var(--accentBlue_30);

}

.hoverText:hover + .hoverText {
    font-weight: 500;
    color: var(--accentBlue_20);
}

.hoverText:hover + .hoverText + .hoverText{
    font-weight: 300;
    color: var(--accentBlue_10);
}

.hoverText:has(+ .hoverText:hover) {
    font-weight: 500;
    color: var(--accentBlue_20);
}
.hoverText:has(+ .hoverText +.hoverText:hover) {
    font-weight: 300;
    color: var(--accentBlue_10);
}