.view-work {
    margin: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 6;
}

.light-theme button {
    position: relative;
    background: transparent;
    color: var(--white);
    font-size: 2rem;
    padding: 10px 50px;
    border: 2px solid var(--white);
    border-radius: 15px;
    transition: all ease-in-out .4s;
}

.light-theme button:hover,
.dark-theme button:hover{
    background: var(--accentBlue);
    border-radius: 25px;
    scale: 105%;
}

.dark-theme button {
    position: relative;
    background: transparent;
    color: var(--mainBackground);
    font-size: 2rem;
    padding: 10px 50px;
    border: 2px solid var(--mainBackground);
    border-radius: 15px;
    transition: all ease-in-out .4s;
}
