.sidebar {
    background: var(--mainGrey);

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 85%;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info h1 {
    text-align: center;
    font-size: 2rem;
}

.info h2 {
    text-align: center;
    font-size: 1.25rem;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav a{
    font-size: 2rem;
    padding: 15px 25px;
    border-bottom: #383c54 2px solid;
    transition: all ease-in-out .2s;
}

nav a:first-child{
    border-top: #383c54 2px solid;
}

nav a:hover{
    background: #383c54;
    transform: scaleX(105%);
}

.tech-scroll {
    overflow: hidden;
    width: 100%;
}

.svg-container{
    display: flex;
}

.svg-container svg{
    width: 50px;
    height: 50px;
}


.tech-scroll {
    padding: 25px 0;
}
