.footer {
    background-color: var(--mainBackground);
    height: 50%;
    color: var(--white);
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-footer {
    width: 100%;
}

.footer-footer p{
    color: var(--accentBlue);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    border-top: 4px solid var(--mainOffBackground);

    padding-top: 25px;
}

.footer-main {
    padding: 25px;
    display:  flex;
    justify-content: center;
    gap: 15px;
    max-width: 1750px;
}
.footer-main .about {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-about-me {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-main .about p {
    font-size: 1.25rem;
}

.footer-main .blog {
    width: 30%;
}

.footer-card {
    background-color: var(--mainOffBackground);
    border-radius: 25px;
    padding: 25px;
}

.footer-main .section-2 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.section-2 .footer-contact {
    width: 30%;
}
.section-2 .github {
    width: 60%;
}