.footer {
    background-color: #050817;
    height: 50%;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-footer p{
    color: #408bc6;
    font-size: 1.75rem;
    text-align: center;
    border-top: 5px solid #070c23;
    padding-top: 25px;
}

.footer-main {
    padding: 25px;
    display:  flex;
    justify-content: center;
    gap: 15px;
    max-width: 1750px;
}
.footer-main .about {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-about-me {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-main .about p {
    font-size: 1.25rem;
}

.footer-main .blog {
    width: 30%;
}

.footer-card {
    background-color: #101322;
    border-radius: 25px;
    padding: 25px;
}

.footer-main .section-2 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.section-2 .footer-contact {
    width: 30%;
}
.section-2 .github {
    width: 60%;
}