* {
    padding: 0;
    margin: 0;
}

:root {
    --mainOffBackground: #111423;
    --mainBackground: #060918;
    --accentBlue : #408CC7;
    --accentBlue_10: #618ccc;
    --accentBlue_20: #a8c7f5;
    --accentBlue_30: #a8d7f5;

    --white : #e9ebf7;
    --offwhite: #dcdfeb;
    --gray : #303030;

    font-size: 12px;
}

body {
    background: var(--mainBackground);
    overflow-x: hidden ;
}


.wrapper {
    max-width: 1750px;
}