@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inter:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
}

:root {
    --mainOffBackground: #111423;
    --mainBackground: #060918;
    --accentBlue : #408CC7;
    --accentBlue_10: #618ccc;
    --accentBlue_20: #a8c7f5;
    --accentBlue_30: #a8d7f5;

    --accentPurple: #20004d;
    --accentPurple_10: #5d3496;

    --white : #e9ebf7;
    --offwhite: #dcdfeb;
    --offwhite-1: #EAE9F7;
    --offwhite-2: #a2a6b6;
    --gray : #404040;
    --gray-2: #6B718E;

    font-size: 12px;
    font-family: Inter, sans-serif;
}

body {
    background: var(--mainBackground);
    overflow-x: hidden ;
}


.wrapper {
    max-width: 1750px;
}

@media screen and (max-width: 1200px) {
    :root {
        font-size: 10px;
    }

}
@media screen and (max-width: 720px) {
    :root {
        font-size: 8px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 6px;
    }

}